adf-contoso-analytics-pipeline/pipeline/Pipeline_ContosoRetail.json
{
	"name": "Pipeline_ContosoRetail",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT table_schema AS SchemaName, table_name AS TableName\r\nFROM information_schema.tables \r\nWHERE table_schema = 'dbo' AND table_type = 'BASE TABLE';\r\n",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sourceDW",
						"type": "DatasetReference",
						"parameters": {
							"SchemaName": "table_schema",
							"TableName": "table_name"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "sourceDW",
									"type": "DatasetReference",
									"parameters": {
										"SchemaName": "@item().SchemaName",
										"TableName": "@item().TableName"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "FormatParquet",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": "@formatDateTime(utcNow(), 'yyyyMMdd')",
										"FileName": {
											"value": "@concat(item().SchemaName, '.', item().TableName, '.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Notebook1",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/mlsanoh3@outlook.com/Architecture Medallion Contoso/notebook bronze",
								"baseParameters": {
									"table_schema": {
										"value": "@item().SchemaName",
										"type": "Expression"
									},
									"table_name": {
										"value": "@item().TableName",
										"type": "Expression"
									},
									"fileName": {
										"value": "@formatDateTime(utcNow(), 'yyyyMMdd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-07-07T02:27:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}